@font-face {
    font-family: Glitch;
    src: url(resources/GlitchGoblin-2O87v.ttf);
}


* {
    font-family: "Helvetica", Sans-Serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 340px) {

    /*placeholder font, color*/
    body {
        background-color: #131313;
        color: #d2d2d2;
        margin: 0 10px 0 10px;
        display: flex;
        flex-direction: column;
        place-content: center;
        max-width: 500px;
    }

    input[type="text"],
    textarea {
        display: block;
        resize: none;
        font-size: 16px;
        background-color: rgb(34, 34, 34);
        border: none;
        border-radius: 5px 5px 0 0;
        padding: .4em;
        color: rgb(187, 187, 187);
        outline: none;
        min-width: 100%;
        min-height: 200px;
        overflow: hidden;
    }

    #deCryptKeyInput {
        width: 100px;
        height: 30px;
        max-width: 100%;
        font-size: 16px;
        outline: none;
        appearance: none;
        border: none;
        background-color: rgb(34, 34, 34);
        border-radius: .2em .2em 0 0;
        padding: .4em;
        color: #c7c7c7;
    }

    h1 {
        font-family: Glitch;
        font-size: 42px;
        color: #c21b16;
        margin: 50px 0 20px 0;
    }

    h2 {
        font-size: 26px;
        margin: 10px 0 15px 0;
    }

    p,
    #output {
        font-size: 16px;
    }

    .defaultButton {
        font-size: 16px;
        background-color: rgb(49, 49, 49);
        text-transform: uppercase;
        font-weight: 600;
        color: #000000;
        cursor: pointer;
        border: 3px solid;
        padding: 0.25em 0.5em;
        box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
        position: relative;
        margin: 10px 10px 5px 0;
    }

    .defaultButton:active {
        box-shadow: 0px 0px 0px 0px;
        top: 5px;
        left: 5px;
    }

    .outputContainer {

        margin: 10px 0 10px 0;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(29, 29, 29);
    }

    footer {
        margin: 450px 0 6px 0;
        font-size: 12px;
        margin-top: auto 0;
        text-align: center;
    }

    footer p {
        color: #535353;
    }

    footer a {
        color: #02C654;
        text-decoration: none;
        animation: all 0.5s ease-in-out;
    }

    footer a:active {
        
        font-size: 15px;
    }

}

@media screen and (min-width: 768px) {

    body {
        margin: 0 25% 0 25%;
        text-align: start;
    }



    h1 {
        font-size: 42px;
        margin: 0 0 20px 0;
    }

    h2 {
        font-size: 26px;

    }

    p,
    #output {
        font-size: 16px;
    }

    .defaultButton {
        padding: 0.25em 0.75em;
    }

}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 1920px) {}